span.gray {
    color: gray;
}

#results {
    position: absolute;
    top: 100%;
    left: 20%;
    right: 20%;
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    background-color: #f3f3f3;
}

.ui.segment.travelSearhSegment {
    padding-top: 0;
}